<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div th:replace="~{fragments/general :: header}"></div>

<h2>Locals</h2>
<div class="admin-table-container">
  <div class="table-header">
    <div class="table-cell">ID</div>
    <div class="table-cell">Username</div>
    <div class="table-cell">Email</div>
  </div>

  <div class="table-row" th:each="local : ${locals}">
    <div class="table-cell" data-label="ID" th:text="${local.id}"></div>
    <div class="table-cell" data-label="Username" th:text="${local.userName}"></div>
    <div class="table-cell" data-label="Email" th:text="${local.email}"></div>
  </div>
</div>


<h2>Business Owners</h2>
<div class="admin-table-container">
  <div class="table-header">
    <div class="table-cell">ID</div>
    <div class="table-cell">Username</div>
    <div class="table-cell">Email</div>
    <div class="table-cell">Businesses</div>
  </div>

  <div class="table-row" th:each="owner : ${owners}">
    <div class="table-cell" data-label="ID" th:text="${owner.id}"></div>
    <div class="table-cell" data-label="Username" th:text="${owner.username}"></div>
    <div class="table-cell" data-label="Email" th:text="${owner.email}"></div>
    <div class="table-cell" data-label="Businesses">
      <ul>
        <li th:each="biz : ${owner.businesses}" th:text="${biz.businessName}"></li>
      </ul>
    </div>
  </div>
</div>


<div th:replace="~{fragments/general :: footer}"></div>
</body>
</html>