<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<div th:replace="fragments/general :: top"></div>
<h2>Home Page</h2>
<p>Hello and welcome to Locafy, a place where you can fnd local produce and services
    and where you can help your local business grow!</p>
<p>If you are looking to help your business grow
    you can see more details on what we offer
    by clicking the link below!
</p>
<a th:href="@{/business}" class="btn btn-primary">Go to business page</a>

<p>If you are someone who is looking to purchase
    and support local businesses click the link
    for more information.</p>
<a th:href="@{/locals}" class="btn btn-primary">Go to locals page</a>
</body>

</html>
