<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<h2>Home Page</h2>
<p>Hello and welcome to Locafy, a place where you can fnd local produce and services
    and where you can help your local business grow!</p>
<p>If you are looking to help your busineess grow
    you can see more details on what we ofer
    by clicking the link below!
</p>
<button>Go to business page</button>

<p>If you are someone who is looking to purchase
    and support local businesses click the link
    for more information.</p>
<button>Go to locals page</button>
</body>

</html>
